.vehiclesList
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-self: center;


.createVehicleContainer
  justify-content: center;
  display: flex;
  margin-top: 10px;
  color: $mattelsaGrayText;
  font: 15px/15px 'HelvNeueRoman', sans-serif;

  button
    background-color: $mattelsaBlack;
    color: white;
    border: none;
    font: 13px 'HelvNeueRoman', sans-serif;
    text-transform: uppercase;
    margin-left: 10px;
