.bookCardContainer
  display: flex;
  background-color: white;
  border-radius: 4px;
  margin-top: 10px;
  font-family: Lato;

  .bookImg
    height: 123px;
    border-radius: 4px 0px 0px 4px;

  .bookContent
    width: 100%;
    margin-left: 16px;
    color: $fontColor;
    display: flex;
    padding-top: 6px;
    padding-bottom: 9.9px;

    .bookDescription
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;

      .bookTitle
        display: flex;
        flex-direction: column;

        h5
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          line-height: 15px;
          font-stretch: normal;
          letter-spacing: -0.1px;
          margin: 0px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

        .autor
          line-height: 10px;
          font-size: 9px;
          letter-spacing: -0.1px;
          color: $secondaryFontColor;
          margin-top: 3px;

      .bookGeneralInformation
        display: flex;
        flex-direction: column;
        font-size: 10px;

        .informationItem
          display: flex;
          height: 20px;

          img
            align-self: flex-end;
            height: 14px;

          .deliveryImg
            margin-left: -6px;

          span
            margin-left: 11.3px;
            align-self: flex-end;

          .deliveryDate
            margin-left: 8px;

          .deliveryPrice
            color: $lightFontColor;
            font-size: 9px;
            margin-left: 9px;
            align-self: flex-end;

    .bookMoneyDescription
      display: flex;
      flex-direction: column;
      width: 30%;
      padding-right: 2%;
      align-items: flex-end;
      justify-content: space-between;
      color: $fontColor;

      .deleteIcon
        height: 8px;
        cursor: pointer;

      .quantity
        display: flex;
        margin-bottom: -40px;
        align-items: center;

        button
          width: 20px;
          height: 20px;
          border: none;
          padding: 0px;
          background-color: $buttonCard;
          display: flex;
          justify-content: center;

          &.disabled
            opacity: 0.3;

          img
            align-self: center;

        .count
          width: 20px;
          height: 18px;
          border: 1px solid $buttonCard;
          text-align: center;
          font-size: 12px;
          color: $shadowColor;

      .bookPrice
        font-size: 12px;
