.suggestedBookCardContainer
  height: 136px;
  width: 86px;
  margin-top: 14px;
  margin-right: 6px;
  display: flex;
  flex-direction: column;

  img
    height: 116.8px;
    width: 86px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;

  .moneyBar
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 2px $shadowColor;
    color: $fontColor;
    height: calc(136px - 116.8px);
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 3px;

    span
      font-size: 9px;
      line-height: 11px;
      align-self: center;

    img
      height: 15px;
      width: 31px;
      align-self: center;
      cursor: pointer;
