$backgroundColor = #f5f5f5;
$fontColor = #4a4a4a;
$principalActionColor = #f37632;
$secondaryFontColor = #39393a;
$shadowColor = #adacac;
$lightFontColor = #979797;
$fontInputColor= #9b9b9b;
$disabledColor = #c3bfbf;
$greyState = #dadada;
$beekBlue = #4ed2d6;
$buttonCard = #eeeded;
$lightSage = #b8e986;
$red = #ff596e;
$blood-red= #d0021b;
$tabDisabled= #fbfbfb;
