.employeeContainer
  display: flex;
  flex-direction: column;

  .content
    margin-top: 43px;
    display: flex;
    flex-direction: column;

    .greatings
      font-family: 'BebasNeueRegular';

      h3
        margin-left: 2%;
        margin-top: 5px;
        margin-bottom: 0px;
        color: $mattelsaBlack;
        font-size: 30px;
