.topBar
  background: $mattelsaBlack;
  height: 43px;
  width: 100%
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: 'BebasNeueRegular';

  .headerLogo
    width: 70px;
    height: 15px;
    margin-left: 2%;

  h2
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;

  h3
    color: white;
    position: absolute;
    margin: 0;
    right: 2%;
    cursor: pointer;
